body {
  background: linear-gradient(to right, cyan,  #1e83f7,  #1064eb, #933cf0, #8717ff);
    width: 100vw;
    display:flex;
flex-direction: column;
  }
  #error-message{
    font-family: 'Rubik', sans-serif;
  }
  .Cool {
    color: orange;
    text-align: center
  }
  #A {
    text-decoration: none;
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
  }
  
  label {
    color: aqua;
    font-size: 20px;
    font-family: cursive;
  }
  
  .center {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .flex-col {
    display: flex;
    flex-direction: column;
  }
  
  button {
    color: #fff;
    padding: 8px 22px;
    margin: 10px;
    border-radius: 6px;
    background: #7d2ae8;
    transition: box-shadow 0.2s ease, transform 0.2s ease; /* Adds smooth transition effects */
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    border: 1px;
    box-shadow: 0px 9px 0px rgba(54, 3, 138, 0.5);
  }
  
  button:active {
    box-shadow: none;
    transform: translateY(5px);
  }
  
  
  input {
    border-radius: 10px;
    border: 3px solid  aqua;
    width: 250px;
    height: 25px;
    margin: 7px;
    font-family: cursive;
    text-align: center;
  }
  input:focus{
    background-color: paleturquoise;
    text-decoration: underline;
    transition: all;
    transition: 0.5s;
  }
  
  form {
    border: 3px solid rgb(107, 235, 135);
    padding: 10px;
    width: 300px;
    border-radius: 7px;
    transition: border-color 0.5s ease-in, border-radius 0.5s linear,width 0.5s linear;
  }
  
   .btn {
    transition: all 500ms;
  }

form:hover{
  border-color: orangered;
  border-radius: 20px;
  width: 350px;
  transition: all 500ms;
}

.cool{
  color: orange; 
}

.cool:hover {
  text-decoration: underline !important;
  text-shadow: 2px 2px orangered;
  transition: all 500ms ;
}
body{
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.spinner{
  width: 50px;
  height: 50px;
  border: 10px solid #c2c1c1;
  border-top:9px solid #0059ff;
  border-radius: 100%;
  visibility: hidden;
  
  position: absolute;
  align-items: center;
  top: 100px;
  bottom:0;
  left: 25px;
  right: 20px;
  margin: auto;
  
  animation: spin 1s infinite linear;
}

.spinner--show {
  visibility: visible;
}

@keyframes spin {
  from{
      transform: rotate(0deg);
  }to{
      transform: rotate(360deg);
  }
}
